@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(73, 93, 193);
    padding: 20px;
    color: white;
}

header h1 {
    color: white;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.div-animacao {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.animada {
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
    background-color: black;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 10px;
    width: 80%;
}

form label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
}

form textarea {
    width: 100%;
    border-radius: 7px;
    padding: 5px;
}

form button {
    margin: 12px 0;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: rgb(228, 227, 227);
    font-weight: bold;
    text-transform: uppercase;
}
