@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(73, 93, 193);
    padding: 20px;
    color: white;
}

header h1 {
    color: white;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

header nav a:hover {
    border-bottom: 3px solid yellow;
    font-size: 30px;
    transition: all 3s;
}

.div-animacao {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@keyframes mudarDeCor {
    0%{
        background-color: white;
        border: 2px solid black;
    }
    25%{
        background-color: green
    }
    50%{
        background-color: blueviolet;
    }
    100%{
        background-color: brown;
    }
}

.animada {
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: mudarDeCor;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes mudarDeCorNoHover {
    0%{
        background-color: blue;
    }

    50%{
        background-color: red;
    }
    
    100%{
        background-color: yellow;
    }
}

.animada:hover{
    height:150px;
    width: 150px;
    border-radius: 80px;
    transition: all 2s;
    animation-name: mudarDeCorNoHover;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 10px;
    width: 80%;
}

form label {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

form input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
}

form input:hover {
    border: 3px green solid;
    transition: 0.5s;
}

form input:focus {
    border: 5px solid blue;
    background-color:lightgray;
    color: red;
    padding: 20px;
    transition: all 1s;
}

form textarea {
    width: 100%;
    border-radius: 7px;
    padding: 5px;
}

form button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: rgb(228, 227, 227);
    font-weight: bold;
    text-transform: uppercase;
}

form button:hover {
    padding: 20px;
    background-color: lightskyblue;
    font-weight: bold;
    color: white;
    transition: all 1s
}
